{% extends 'base.html.twig' %}

{% block title %}Créer une association{% endblock %}

{% block body %}
<div class="association-form">
    <div class="container">
        <div class="card">
            <div class="header">
                <h4 class="title">
                    <i class="fas fa-plus-circle"></i>
                    Créer une nouvelle association
                </h4>
                <a href="{{ path('associations') }}" class="back-btn">
                    <i class="fas fa-arrow-left"></i> Retour à la liste
                </a>
            </div>
        </div>
        
        <div class="body">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            
            <div class="row">
                <div class="field">
                    {{ form_row(form.name) }}
                </div>
                <div class="field">
                    {{ form_row(form.contact_email) }}
                </div>
            </div>
            
            <div class="row">
                <div class="field">
                    {{ form_row(form.code_postal) }}
                </div>
                <div class="field">
                    {{ form_row(form.department) }}
                </div>
            </div>
            
            <div class="field">
                {{ form_row(form.description) }}
            </div>
            
            <div class="field">
                {{ form_row(form.imageFile) }}
            </div>
            
            <div class="actions">
                <a href="{{ path('associations') }}" class="btn cancel">
                    <i class="fas fa-times"></i> Annuler
                </a>
                <button type="submit" class="btn submit">
                    <i class="fas fa-save"></i> Créer l'association
                </button>
            </div>
            
            {{ form_end(form) }}
            
            <div class="note">
                <i class="fas fa-info-circle"></i>
                <p><strong>Note :</strong> Après la création, vous deviendrez automatiquement gérant de cette association et pourrez inviter des membres.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}