<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}How I Met My Human{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body{% block body_class %}{% endblock %}>
        <header class="main-header">
            <nav class="navbar">
                <div class="logo-section">
                    <div class="logo">
                        <a href="{{ path('home') }}">
                            <img src="{{ asset('logo.png') }}" alt="How I Met My Human Logo">
                        </a>
                    </div>
                    {% if is_granted('ROLE_USER') and app.user %}
                        <div class="user-greeting">
                            <span class="greeting-text">Bonjour {{ app.user.name }}!</span>
                        </div>
                    {% endif %}
                </div>

                <ul class="nav-links">
                    <li><a href="{{ path('animals') }}">Nos rescapés</a></li>
                    <li><a href="{{ path('associations') }}">Les associations</a></li>
                </ul>

                <div class="auth-section">
                    {% if not is_granted('ROLE_USER') %}
                        <a href="{{ path('auth') }}" class="auth-link">
                            <i class="fa-solid fa-sign-in-alt"></i> Connexion / Inscription
                        </a>
                    {% else %}
                        <a href="{{ path('profile') }}" class="auth-link">
                            <i class="fa-solid fa-user"></i> Mon espace
                        </a>
                        {% if is_granted('ROLE_ASSOCIATION') %}
                            <a href="{{ path('animals_add') }}" class="auth-link">
                                <i class="fas fa-plus"></i> Ajouter un animal
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin') }}" target="_blank">Pannel Admin</a>
                        {% endif %}
                        <a href="{{ path('logout') }}" class="auth-link">
                            <i class="fa-solid fa-sign-out-alt"></i> Se déconnecter
                        </a>
                    {% endif %}
                </div>
            </nav>
        </header>

        <main>
        {% block body %}{% endblock %}
        </main>

        <footer>
            <div class="footer-wrapper">
                <div class="logo-footer">
                    <a href="{{ path('home') }}"><img src="{{ asset('logo.png') }}" alt="How I Met My Human Logo"></a>
                    <p>Nous contacter</p>
                </div>
                <div class="section-footer">
                    <div class="link-footer left">
                        <h4>Liens utiles</h4>
                        <ul>
                            <li><a href="#">Evénements</a></li>
                            <li><a href="#">Conditions d'adoption</a></li>
                            <li><a href="#">Notre équipe</a></li>
                            <li><a href="#">Devenir bénévole</a></li>
                        </ul>
                    </div>
                    <div class="link-footer right">
                        <ul>
                            <li><a href="#">Mentions légales</a></li>
                            <li><a href="#">Politique de confidentialité</a></li>
                            <li><a href="#">Conditions générales d'utilisation</a></li>
                        </ul>
                    </div>
                    <div class="contact-footer">
                        <h4>Contact</h4>
                        <ul>
                            <li><i class="fa-solid fa-envelope"></i>marie.rivier23@gmail.com</li>
                            <li><i class="fa-solid fa-phone"></i>06 06 06 06 06</li>
                        </ul>
                    </div>
                </div>
                <p class="copyright">Copyright&copy; How I Met My Human - 2025. Tous droits réservés.</p>
            </div>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </body>
</html>
